@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@using inRuolo.Models
@{User user = (User)Session["user"];
    System.Diagnostics.Debug.WriteLine(user.Nome);}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>
            <h3 class="kt-subheader__title">
                Profilo
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <!--<div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Apps
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Users
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Profile 1
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Account Information
                </a>-->
            <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            <!--</div>-->
        </div>
        <!--<div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary">
                    Actions &nbsp;-->
        <!--<i class="flaticon2-calendar-1"></i>-->
        <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bound" x="0" y="0" width="24" height="24" />
                    <rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5" />
                    <path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                </g>
            </svg>
        </a>
        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
            <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                    </g>
                </svg>-->
        <!--<i class="flaticon2-plus"></i>-->
        <!--</a>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">-->
        <!--begin::Nav-->
        <!--<ul class="kt-nav">
            <li class="kt-nav__head">
                Add anything or jump to:
                <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
            </li>
            <li class="kt-nav__separator"></li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                    <span class="kt-nav__link-text">Order</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                    <span class="kt-nav__link-text">Ticket</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-link"></i>
                    <span class="kt-nav__link-text">Goal</span>
                </a>
            </li>
            <li class="kt-nav__item">
                <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                    <span class="kt-nav__link-text">Support Case</span>
                    <span class="kt-nav__link-badge">
                        <span class="kt-badge kt-badge--success">5</span>
                    </span>
                </a>
            </li>
            <li class="kt-nav__separator"></li>
            <li class="kt-nav__foot">
                <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
            </li>
        </ul>-->
        <!--end::Nav-->
        <!--</div>
                </div>
            </div>
        </div>-->
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
                <i class="la la-close"></i>
            </button>

            <!--End:: App Aside Mobile Toggle-->
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">

                <!--begin:: Widgets/Applications/User/Profile1-->
                <div class="kt-portlet kt-portlet--height-fluid-">
                    <div class="kt-portlet__head  kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <a href="#" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown">
                                <i class="flaticon-more-1"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

                                <!--begin::Nav-->
                                <ul class="kt-nav">
                                    <li class="kt-nav__head">
                                        Opzioni
                                        <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                    </li>
                                    @*<li class="kt-nav__separator"></li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                <span class="kt-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                <span class="kt-nav__link-text">FAQ</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-link"></i>
                                                <span class="kt-nav__link-text">Settings</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                <span class="kt-nav__link-text">Support</span>
                                                <span class="kt-nav__link-badge">
                                                    <span class="kt-badge kt-badge--success">5</span>
                                                </span>
                                            </a>
                                        </li>*@
                                    <li class="kt-nav__separator"></li>
                                    <li class="kt-nav__foot">
                                        <a class="btn btn-label-danger btn-bold btn-sm" href="#">Logout</a>
                                        @*<a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>*@
                                    </li>
                                </ul>

                                <!--end::Nav-->
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit-y">

                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-1">
                            <div class="kt-widget__head">
                                <div class="kt-widget__media">

                                    @{string nC = user.Nome.Substring(0, 1) + user.Cognome.Substring(0, 1);}
                                    <img src="https://eu.ui-avatars.com/api/?name=@nC" alt="image">
                                </div>
                                <div class="kt-widget__content">
                                    <div class="kt-widget__section">
                                        <a href="#" class="kt-widget__username">
                                            @user.Email
                                    </div>
                                    <span class="kt-widget__subtitle">
                                        @user.Nome @user.Cognome
                                    </span>

                                </div>
                            </div>
                            <div class="kt-widget__body">
                                <div class="kt-widget__content">
                                    <!-- <div class="kt-widget__info">
                                        <span class="kt-widget__label">Email:</span>
                                        <a href="#" class="kt-widget__data">email</a>
                                    </div> -->
                                    <!-- <div class="kt-widget__info">
                                        <span class="kt-widget__label">Phone:</span>
                                        <a href="#" class="kt-widget__data">44(76)34254578</a>
                                    </div>
                                    <div class="kt-widget__info">
                                        <span class="kt-widget__label">Location:</span>
                                        <span class="kt-widget__data">Melbourne</span>
                                    </div> -->
                                </div>
                                <div class="kt-widget__items">
                                    <a href="/User/Index" class="kt-widget__item">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="kt-widget__desc">
                                                Dati Personali
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/User/Fatturazione" class="kt-widget__item kt-widget__item--active">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                                        <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                                        <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" id="Combined-Shape" fill="#000000" />
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="kt-widget__desc">
                                                Fatturazione
                                            </span>
                                        </span>

                                    </a>
                                    <a href="/User/CambiaPassword" class="kt-widget__item ">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                                        <path d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z" id="Path-50" fill="#000000" opacity="0.3" />
                                                        <path d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z" id="Mask" fill="#000000" opacity="0.3" />
                                                        <path d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z" id="Mask-Copy" fill="#000000" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="kt-widget__desc">
                                                Cambia Password
                                            </span>
                                        </span>

                                    </a>
                                    <a href="/User/Formazione" class="kt-widget__item ">
                                        <span class="kt-widget__section">
                                            <span class="kt-widget__icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                                        <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                                        <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" id="Combined-Shape" fill="#000000" />
                                                    </g>
                                                </svg>
                                            </span>
                                            <span class="kt-widget__desc">
                                                Formazione
                                            </span>
                                        </span>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!--end::Widget -->
                    </div>
                </div>

                <!--end:: Widgets/Applications/User/Profile1-->
            </div>

            <!--End:: App Aside-->
            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-portlet">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">Informazioni di Fatturazione </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <div class="kt-portlet__head-wrapper">
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-label-brand btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon2-console"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="kt-nav">
                                                    <li class="kt-nav__section kt-nav__section--first">
                                                        <span class="kt-nav__section-text">Export Tools</span>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon la la-print"></i>
                                                            <span class="kt-nav__link-text">Print</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon la la-copy"></i>
                                                            <span class="kt-nav__link-text">Copy</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                            <span class="kt-nav__link-text">Excel</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                            <span class="kt-nav__link-text">CSV</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a href="#" class="kt-nav__link">
                                                            <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                            <span class="kt-nav__link-text">PDF</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="kt-form kt-form--label-right">
                                <div class="kt-portlet__body">
                                    <div class="kt-section kt-section--first">
                                        <div class="kt-section__body">
                                            <div class="row">
                                                <label class="col-xl-3"></label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <h3 class="kt-section__title kt-section__title-sm">Fatturazione:</h3>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Codice Fiscale</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="kt-spinner kt-spinner--sm kt-spinner--success kt-spinner--right kt-spinner--input">
                                                        <input class="form-control" type="text" placeholder="FRRTBS05E16F839Y" value="@user.CodiceFiscale">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                        <input type="text" class="form-control" placeholder="nick.watson@loop.com" aria-describedby="basic-addon1" value="@user.DatiFatturazione.Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">PEC</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                                        <input type="text" class="form-control" placeholder="nick.watson@loop.com" aria-describedby="basic-addon1" value="@user.DatiFatturazione.Pec">
                                                    </div>
                                                    <span class="form-text text-muted">Email will not be publicly displayed. <a href="#" class="kt-link">Learn more</a>.</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Provincia</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <select id="provincia" name="provincia" class="form-control" value="@user.DatiFatturazione.Prov">
                                                        <option value="ag">Agrigento</option>
                                                        <option value="al">Alessandria</option>
                                                        <option value="an">Ancona</option>
                                                        <option value="ao">Aosta</option>
                                                        <option value="ar">Arezzo</option>
                                                        <option value="ap">Ascoli Piceno</option>
                                                        <option value="at">Asti</option>
                                                        <option value="av">Avellino</option>
                                                        <option value="ba">Bari</option>
                                                        <option value="bt">Barletta-Andria-Trani</option>
                                                        <option value="bl">Belluno</option>
                                                        <option value="bn">Benevento</option>
                                                        <option value="bg">Bergamo</option>
                                                        <option value="bi">Biella</option>
                                                        <option value="bo">Bologna</option>
                                                        <option value="bz">Bolzano</option>
                                                        <option value="bs">Brescia</option>
                                                        <option value="br">Brindisi</option>
                                                        <option value="ca">Cagliari</option>
                                                        <option value="cl">Caltanissetta</option>
                                                        <option value="cb">Campobasso</option>
                                                        <option value="ci">Carbonia-iglesias</option>
                                                        <option value="ce">Caserta</option>
                                                        <option value="ct">Catania</option>
                                                        <option value="cz">Catanzaro</option>
                                                        <option value="ch">Chieti</option>
                                                        <option value="co">Como</option>
                                                        <option value="cs">Cosenza</option>
                                                        <option value="cr">Cremona</option>
                                                        <option value="kr">Crotone</option>
                                                        <option value="cn">Cuneo</option>
                                                        <option value="en">Enna</option>
                                                        <option value="fm">Fermo</option>
                                                        <option value="fe">Ferrara</option>
                                                        <option value="fi">Firenze</option>
                                                        <option value="fg">Foggia</option>
                                                        <option value="fc">Forl&igrave;-Cesena</option>
                                                        <option value="fr">Frosinone</option>
                                                        <option value="ge">Genova</option>
                                                        <option value="go">Gorizia</option>
                                                        <option value="gr">Grosseto</option>
                                                        <option value="im">Imperia</option>
                                                        <option value="is">Isernia</option>
                                                        <option value="sp">La spezia</option>
                                                        <option value="aq">L'aquila</option>
                                                        <option value="lt">Latina</option>
                                                        <option value="le">Lecce</option>
                                                        <option value="lc">Lecco</option>
                                                        <option value="li">Livorno</option>
                                                        <option value="lo">Lodi</option>
                                                        <option value="lu">Lucca</option>
                                                        <option value="mc">Macerata</option>
                                                        <option value="mn">Mantova</option>
                                                        <option value="ms">Massa-Carrara</option>
                                                        <option value="mt">Matera</option>
                                                        <option value="vs">Medio Campidano</option>
                                                        <option value="me">Messina</option>
                                                        <option value="mi">Milano</option>
                                                        <option value="mo">Modena</option>
                                                        <option value="mb">Monza e della Brianza</option>
                                                        <option value="na">Napoli</option>
                                                        <option value="no">Novara</option>
                                                        <option value="nu">Nuoro</option>
                                                        <option value="og">Ogliastra</option>
                                                        <option value="ot">Olbia-Tempio</option>
                                                        <option value="or">Oristano</option>
                                                        <option value="pd">Padova</option>
                                                        <option value="pa">Palermo</option>
                                                        <option value="pr">Parma</option>
                                                        <option value="pv">Pavia</option>
                                                        <option value="pg">Perugia</option>
                                                        <option value="pu">Pesaro e Urbino</option>
                                                        <option value="pe">Pescara</option>
                                                        <option value="pc">Piacenza</option>
                                                        <option value="pi">Pisa</option>
                                                        <option value="pt">Pistoia</option>
                                                        <option value="pn">Pordenone</option>
                                                        <option value="pz">Potenza</option>
                                                        <option value="po">Prato</option>
                                                        <option value="rg">Ragusa</option>
                                                        <option value="ra">Ravenna</option>
                                                        <option value="rc">Reggio di Calabria</option>
                                                        <option value="re">Reggio nell'Emilia</option>
                                                        <option value="ri">Rieti</option>
                                                        <option value="rn">Rimini</option>
                                                        <option value="rm">Roma</option>
                                                        <option value="ro">Rovigo</option>
                                                        <option value="sa">Salerno</option>
                                                        <option value="ss">Sassari</option>
                                                        <option value="sv">Savona</option>
                                                        <option value="si">Siena</option>
                                                        <option value="sr">Siracusa</option>
                                                        <option value="so">Sondrio</option>
                                                        <option value="ta">Taranto</option>
                                                        <option value="te">Teramo</option>
                                                        <option value="tr">Terni</option>
                                                        <option value="to">Torino</option>
                                                        <option value="tp">Trapani</option>
                                                        <option value="tn">Trento</option>
                                                        <option value="tv">Treviso</option>
                                                        <option value="ts">Trieste</option>
                                                        <option value="ud">Udine</option>
                                                        <option value="va">Varese</option>
                                                        <option value="ve">Venezia</option>
                                                        <option value="vb">Verbano-Cusio-Ossola</option>
                                                        <option value="vc">Vercelli</option>
                                                        <option value="vr">Verona</option>
                                                        <option value="vv">Vibo valentia</option>
                                                        <option value="vi">Vicenza</option>
                                                        <option value="vt">Viterbo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Città</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" type="text" placeholder="Rende" value="@user.DatiFatturazione.Citta">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">CAP</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" type="text" placeholder="87036" value="@user.DatiFatturazione.Cap">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-3 col-lg-3 col-form-label">Indirizzo</label>
                                                <div class="col-lg-9 col-xl-6">
                                                    <input class="form-control" type="text" placeholder="Via Roma, 13" value="@user.DatiFatturazione.Indirizzo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="kt-portlet__foot">
                                    <div class="kt-form__actions">
                                        <div class="row">
                                            <div class="col-lg-3 col-xl-3">
                                            </div>
                                            <div class="col-lg-9 col-xl-9">
                                                <button type="reset" class="btn btn-success">Submit</button>&nbsp;
                                                <button type="reset" class="btn btn-secondary">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--End:: App Content-->
        </div>

        <!--End::App-->
    </div>

    <!-- end:: Content -->
</div>

