@using inRuolo.Models
@using inRuolo.Controllers
@{
    SoluzioneClasse x = (SoluzioneClasse)this.ViewData["x"];
}
@{var i = 2; }
<div class="kt-portlet kt-portlet--collapse" data-ktportlet="true" id="kt_portlet_tools_41">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @*@{System.Diagnostics.Debug.WriteLine(sumVinc + sumList);}*@
                @if (x.CfuMinimi >= 90)
                {

                    <span class="kt-font-danger">@x.Classe.Nome </span>@x.Classe.Descrizione
                }
                else
                {
                    <span class="kt-font-warning">@x.Classe.Nome</span> @x.Classe.Descrizione
                }
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="row">
                @{
                    if (@x.Proposte[0].PropostaConMasterOttima != null)
                    {
                        <h5 class="col-12 text-right" style="margin: auto;">A Partire Da <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.Costo €</span>&nbsp;&nbsp;</h5>
                    }
                    else
                    {
                        <h5 class="col-12 text-right" style="margin: auto;">A Partire Da <span class="kt-font-info">@x.Proposte[0].PropostaSingoliSsd.Costo €</span>&nbsp;&nbsp;</h5>
                    }
                }
                <h6 class="col-12 text-right" style="margin: auto;">Popolarità <span class="kt-font-info">@x.Classe.Popolarita %</span>&nbsp;&nbsp;</h6>
            </div>

            <div class="kt-portlet__head-group" style="margin: auto;">
                <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-brand btn-icon-md" aria-describedby="tooltip_7cdafv7vvs"><i class="la la-angle-down"></i></a>
                <div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_7cdafv7vvs" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(678px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 27px;"></div>                            <div class="tooltip-inner">Expand</div>                        </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body" kt-hidden-height="298" style="display: none; overflow: hidden; padding-top: 0px; padding-bottom: 0px;">
        <div class="kt-portlet__content">
            <!-- Conseguibile Content-->

            <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
                <!--Begin:: Proposta Migliore-->

                <div class="card">
                    <div class="card-header" id="heading_@(i)one">
                        <div class="card-title" data-toggle="collapse" data-target="#collapse_@(i)one" aria-expanded="false" aria-controls="collapse_@(i)one">
                            <i class="flaticon2-chart"></i> Proposta Migliore
                        </div>
                    </div>
                    <div id="collapse_@(i)one" class="collapse show" aria-labelledby="heading_@(i)one" data-parent="#accordionExample6" style="">

                        <div class="card-body">
                            @if (x.Proposte[0].PropostaSingoliSsd != null)
                            {
                                <div class="row" style="display: -webkit-box;">
                                    <div class="col-4">
                                        <h5>Acquisto CFU Singoli</h5>
                                        <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                data-content="@foreach (var y in x.Proposte[0].PropostaSingoliSsd.ListaSsd) {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Esami Singoli">
                                            <div class="row" style="display: -webkit-box;">
                                                <div class="text-nowrap col-5">
                                                    @{ var j1 = 0;
                                                        foreach (var y in x.Proposte[0].PropostaSingoliSsd.ListaSsd)
                                                        {

                                                            @y.Ssd
                                                            <br />
                                                            if (j1 == 2)
                                                            {
                                                                <h5>...</h5>
                                                                break;
                                                            }
                                                            j1++;
                                                        }
                                                    }
                                                </div>
                                                <div class=" offset-2 border-left col-5">
                                                    <div class="row" style="display: -webkit-box;">
                                                        <h5 class="w-100 text-center">@x.Proposte[0].PropostaSingoliSsd.Cfu CFU</h5>
                                                    </div>
                                                    <br />
                                                    <div class="kt-divider">
                                                        <span></span>
                                                    </div>
                                                    <br />
                                                    <div class="row mx-auto mt-auto">
                                                        <h5 class="w-100 text-center text-nowrap">@x.Proposte[0].PropostaSingoliSsd.Costo €</h5>
                                                    </div>
                                                </div>

                                            </div>


                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <div class="kt-portlet">
                                            <div class="kt-portlet__body">
                                                <div class="kt-widget kt-widget--user-profile-3">
                                                    <div class="kt-widget__bottom" style="border-top: 0;margin-top: 0;">
                                                        <div class="kt-widget__item">
                                                            <div class="kt-widget__icon">
                                                                <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                            </div>
                                                            <div class="kt-widget__details">
                                                                <span class="kt-widget__title">Tempo Minimo</span>
                                                                <span class="kt-widget__value"><span></span>@{var gg = (x.Proposte[0].PropostaSingoliSsd.Cfu * 15) / 8;} @UtilsController.CalculateDays(gg)</span>

                                                            </div>

                                                        </div>

                                                        <div class="kt-widget__item">
                                                            <div class="kt-widget__icon">
                                                                <i class="flaticon-pie-chart"></i>
                                                            </div>
                                                            <div class="kt-widget__details">
                                                                <span class="kt-widget__title">Costo Totale</span>
                                                                <span class="kt-widget__value"><span>€</span>@x.Proposte[0].PropostaSingoliSsd.Costo</span>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget__item selectProduct" data-title="@x.Proposte[0].PropostaSingoliSsd.GetHashCode()" data-id="Proposta1 @x.Classe.Nome" data-costo="@x.Proposte[0].PropostaSingoliSsd.Costo" data-cfu="@x.Proposte[0].PropostaSingoliSsd.Cfu" data-punti="0" data-ssd="@String.Join(", ", x.Proposte[0].PropostaSingoliSsd.ListaSsd.Select(k => k.Ssd.ToString()).ToArray())">
                                                            <button type="button" class="btn btn-outline-success addToCompare"><i class="fa fa-search-plus"></i> Compara</button>
                                                        </div>

                                                    </div>
                                                    <br />
                                                    <div class="kt-divider"><span></span></div>
                                                    <br />
                                                    <div class="kt-widget__top row" style="display: -webkit-box;">

                                                        <div class="kt-widget__content col-7 border-right">
                                                            <div class="kt-widget__head">
                                                                <div class="kt-widget__user">
                                                                    <a href="#" class="kt-widget__username">
                                                                        Riutilizzi &nbsp;
                                                                    </a>
                                                                    <button data-toggle="modal" data-target="#exampleModalCenter@(i)" style="padding: 0; border: none; background: none;"><span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Dettagli</span></button>
                                                                </div>

                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModalCenter@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle@(i)">Riutilizzi</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Classe</th>
                                                                                        <th>Costo Precedente</th>
                                                                                        <th>Costo Attuale</th>
                                                                                        <th>Cfu Precedenti</th>
                                                                                        <th>Cfu</th>
                                                                                        <th>Ssd</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var z in x.Proposte[0].PropostaSingoliSsd.Riutilizzi)
                                                                                    {
                                                                                        <tr>
                                                                                            <th scope="row">@z.Classe</th>
                                                                                            <td>@z.CostoPre</td>
                                                                                            <td>@z.Costo</td>
                                                                                            <td>@z.CfuPre</td>
                                                                                            <td>@z.Cfu</td>
                                                                                            <td>
                                                                                                <button style="padding: 0; border: none; background: none;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                                                                        data-content="@foreach (var y in z.ListaSsd) {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Ssd">
                                                                                                    <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Ssd</span>
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="kt-widget__info">
                                                                <div class="kt-widget__desc style-1">
                                                                    @foreach (var z in x.Proposte[0].PropostaSingoliSsd.Riutilizzi)
                                                                    {
                                                                        <h5>- <span class="kt-font-brand">@z.Classe</span> Con <del>€@z.CostoPre</del><ins> €@z.Costo</ins> in Più</h5>
                                                                    }

                                                                </div>

                                                            </div>
                                                            @*<div class="kt-widget__action">
                                                                    <a href="#" class="btn btn-label-brand btn-sm btn-upper">Lista Desideri</a>
                                                                    <div class="dropdown dropdown-inline">
                                                                        <a href="#" class="btn btn-brand btn-sm btn-upper" data-toggle="dropdown">
                                                                            Acquista
                                                                        </a>
                                                                    </div>
                                                                </div>*@
                                                        </div>

                                                        <div class="col-4 offset-1">
                                                            <button type="button" class="btn btn-block btn-brand mb-1 row"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                            <button type="button" class="btn btn-block btn-outline-brand row"><i class="fa fa-star"></i> Lista Desideri</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                                <div class="col-4">
                                                    <button type="button" class="btn btn-secondary  btn-lg btn-icon btn-circle"><i class="fa fa-dollar-sign"></i></button>
                                                    <h3 class="kt-font-info d-inline-block align-middle">@x.Proposte[0].PropostaSingoliSsd.Costo €</h3>
                                                </div>
                                                <div class="col-4">
                                                    <button type="button" class="btn btn-secondary  btn-lg btn-icon btn-circle"><i class="fa fa-check-double"></i></button>
                                                    <h3 class="kt-font-info d-inline-block align-middle">@x.Proposte[0].PropostaSingoliSsd.Cfu CFU</h3>
                                                </div>
                                                <div class="col-4">
                                                    <button type="button" class="btn btn-secondary  btn-lg btn-icon btn-circle"><i class="fa fa-clock"></i></button>
                                                    <h3 class="kt-font-info d-inline-block align-middle">5 Mesi</h3>
                                                </div>
                                            </div>*@
                                        @*<br />
                                            <div class="kt-divider"><span></span></div>
                                            <br />*@

                                    </div>
                                </div>
                            }
                            @if (x.Proposte[0].PropostaSingoliSsd != null && x.Proposte[0].PropostaConMasterOttima != null)
                            {
                                <br />
                                <div class="kt-divider">
                                    <span></span>
                                </div>
                                <br />
                            }
                            @if (x.Proposte[0].PropostaConMasterOttima != null)
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <h5>Master+CFU Singoli</h5>
                                        <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                data-content="@foreach (var y in x.Proposte[0].PropostaConMasterOttima.ListaSsd)
                                                {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Esami Singoli">
                                            <div class="row">
                                                <div class="text-nowrap col-5">
                                                    @{ var j2 = 0;
                                                        foreach (var y in x.Proposte[0].PropostaConMasterOttima.ListaSsd)
                                                        {
                                                            @y.Ssd
                                                            <br />
                                                            if (j2 == 2)
                                                            {
                                                                <h5>...</h5>
                                                                break;
                                                            }
                                                            j2++;
                                                        }
                                                    }
                                                </div>
                                                <div class="offset-2 border-left col-5">
                                                    <div class="row">
                                                        <h5 class="w-100 text-center">37 cfu</h5>
                                                    </div>
                                                    <br />
                                                    <div class="kt-divider">
                                                        <span></span>
                                                    </div>
                                                    <br />
                                                    <div class="row mx-auto mt-auto">
                                                        <h5 class="w-100 text-center text-nowrap">@{var costoCfu1 = x.Proposte[0].PropostaConMasterOttima.Costo - x.Proposte[0].PropostaConMasterOttima.Master.Costo;}@costoCfu1 €</h5>
                                                    </div>
                                                </div>

                                            </div>


                                        </button>
                                        <i class="fa fa-plus-square fa-lg"></i>
                                        <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                data-content="@foreach (var y in x.Proposte[0].PropostaConMasterOttima.Master.EsamiCorso)
                                                {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.NCrediti</h6>}" data-original-title="@x.Proposte[0].PropostaConMasterOttima.Master.NomeEsteso">
                                            <div class="row">
                                                <h5 class="text-center w-100">Master eCampus</h5>
                                            </div>
                                            <div class="row">
                                                <div class="text-nowrap col-5">
                                                    @{ var j3 = 0;
                                                        foreach (var y in x.Proposte[0].PropostaConMasterOttima.Master.EsamiCorso)
                                                        {
                                                            @y.Ssd
                                                            <br />
                                                            if (j3 == 2)
                                                            {
                                                                <h5>...</h5>
                                                                break;
                                                            }
                                                            j3++;
                                                        }
                                                    }
                                                </div>
                                                <div class="offset-2 border-left col-5">
                                                    <div class="row">
                                                        <h5 class="w-100 text-center">37 cfu</h5>
                                                    </div>
                                                    <br />
                                                    <div class="kt-divider">
                                                        <span></span>
                                                    </div>
                                                    <br />
                                                    <div class="row mx-auto mt-auto">
                                                        <h5 class="w-100 text-center text-nowrap">@x.Proposte[0].PropostaConMasterOttima.Master.Costo €</h5>
                                                    </div>
                                                </div>

                                            </div>


                                        </button>
                                    </div>
                                    <div class="col-8">
                                        <div class="kt-portlet">
                                            <div class="kt-portlet__body">
                                                <div class="kt-widget kt-widget--user-profile-3">
                                                    <div class="kt-widget__bottom" style="border-top: 0;margin-top: 0;">
                                                        <div class="kt-widget__item">
                                                            <div class="kt-widget__icon">
                                                                <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                            </div>
                                                            <div class="kt-widget__details">
                                                                <span class="kt-widget__title">Tempo Minimo</span>
                                                                <span class="kt-widget__value"><span></span>@{var gg = (x.Proposte[0].PropostaConMasterOttima.CfuSingoliSsd * 15) / 8 + 365;} @UtilsController.CalculateDays(gg)</span>

                                                            </div>

                                                        </div>

                                                        <div class="kt-widget__item">
                                                            <div class="kt-widget__icon">
                                                                <i class="flaticon-pie-chart"></i>
                                                            </div>
                                                            <div class="kt-widget__details">
                                                                <span class="kt-widget__title">Costo Totale</span>
                                                                <span class="kt-widget__value"><span>€</span>@x.Proposte[0].PropostaConMasterOttima.Costo</span>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget__item selectProduct" data-title="@x.Proposte[0].PropostaConMasterOttima.GetHashCode()" data-id="Proposta1Master @x.Classe.Nome" data-costo="@x.Proposte[0].PropostaConMasterOttima.Costo" data-cfu="@x.Proposte[0].PropostaConMasterOttima.CfuSingoliSsd" data-punti="@x.Proposte[0].PropostaConMasterOttima.Master.PuntiConcorso" data-ssd="@String.Join(", ", x.Proposte[0].PropostaConMasterOttima.ListaSsd.Select(k => k.Ssd.ToString()).ToArray())">
                                                            <button type="button" class="btn btn-outline-success addToCompare"><i class="fa fa-search-plus"></i> Compara</button>
                                                        </div>

                                                    </div>
                                                    <br />
                                                    <div class="kt-divider"><span></span></div>
                                                    <br />
                                                    <div class="kt-widget__top row" style="display: -webkit-box;">

                                                        <div class="kt-widget__content col-7 border-right">
                                                            <div class="kt-widget__head">
                                                                <div class="kt-widget__user">
                                                                    <a href="#" class="kt-widget__username">
                                                                        Riutilizzi &nbsp;
                                                                    </a>
                                                                    <button data-toggle="modal" data-target="#exampleModalCenter@(i)" style="padding: 0; border: none; background: none;"><span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Dettagli</span></button>
                                                                </div>

                                                            </div>
                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModalCenter@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLongTitle@(i)">Riutilizzi</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Classe</th>
                                                                                        <th>Costo Precedente</th>
                                                                                        <th>Costo Attuale</th>
                                                                                        <th>Cfu Precedenti</th>
                                                                                        <th>Cfu</th>
                                                                                        <th>Ssd</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var z in x.Proposte[0].PropostaConMasterOttima.Riutilizzi)
                                                                                    {
                                                                                        <tr>
                                                                                            <th scope="row">@z.Classe</th>
                                                                                            <td>@z.CostoPre</td>
                                                                                            <td>@z.Costo</td>
                                                                                            <td>@z.CfuPre</td>
                                                                                            <td>@z.Cfu</td>
                                                                                            <td>
                                                                                                <button style="padding: 0; border: none; background: none;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                                                                        data-content="@foreach (var y in z.ListaSsd)
                                                                                                        {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Ssd">
                                                                                                    <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Ssd</span>
                                                                                                </button>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="kt-widget__info">
                                                                <div class="kt-widget__desc style-1">
                                                                    @foreach (var z in x.Proposte[0].PropostaConMasterOttima.Riutilizzi)
                                                                    {
                                                                        <h5>- <span class="kt-font-brand">@z.Classe</span> Con <del>€@z.CostoPre</del><ins> €@z.Costo</ins> in Più</h5>
                                                                    }

                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="col-4 offset-1">
                                                            <button type="button" class="btn btn-block btn-brand mb-1 row"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                            <button type="button" class="btn btn-block btn-outline-brand row"><i class="fa fa-star"></i> Lista Desideri</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <!--end:: Proposta Migliore-->
                <!--Begin:: Altre Proposte-->
                <div class="card">
                    <div class="card-header" id="heading_@(i)three">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse_@(i)three" aria-expanded="false" aria-controls="collapse_@(i)three">
                            <i class="flaticon2-pie-chart-1"></i> Altre Proposte
                        </div>
                    </div>
                    <div id="collapse_@(i)three" class="collapse" aria-labelledby="heading_@(i)three" data-parent="#accordionExample6">
                        <div class="card-body">
                            @{ foreach (var z in x.Proposte.Skip(1))
                                {
                                    if (z.PropostaSingoliSsd != null)
                                    {
                                        <div class="row">
                                            <div class="col-4">
                                                <h5>Acquisto CFU Singoli</h5>
                                                <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                        data-content="@foreach (var y in z.PropostaSingoliSsd.ListaSsd)
                                                        {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Esami Singoli">
                                                    <div class="row" style="display: -webkit-box;">
                                                        <div class="text-nowrap col-5">
                                                            @{var j1 = 0;
                                                                foreach (var y in z.PropostaSingoliSsd.ListaSsd)
                                                                {

                                                                    @y.Ssd
                                                                    <br />
                                                                    if (j1 == 2)
                                                                    {
                                                                        <h5>...</h5>
                                                                        break;
                                                                    }
                                                                    j1++;
                                                                }
                                                            }
                                                        </div>
                                                        <div class="offset-2 border-left col-5">
                                                            <div class="row" style="display: -webkit-box;">
                                                                <h5 class="w-100 text-center">@z.PropostaSingoliSsd.Cfu CFU</h5>
                                                            </div>
                                                            <br />
                                                            <div class="kt-divider">
                                                                <span></span>
                                                            </div>
                                                            <br />
                                                            <div class="row mx-auto mt-auto">
                                                                <h5 class="w-100 text-center text-nowrap">@z.PropostaSingoliSsd.Costo €</h5>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </button>
                                            </div>
                                            <div class="col-8">
                                                <div class="kt-portlet">
                                                    <div class="kt-portlet__body">
                                                        <div class="kt-widget kt-widget--user-profile-3">
                                                            <div class="kt-widget__bottom" style="border-top: 0;margin-top: 0;">
                                                                <div class="kt-widget__item">
                                                                    <div class="kt-widget__icon">
                                                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                                    </div>
                                                                    <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Tempo Minimo</span>
                                                                        <span class="kt-widget__value"><span></span>@{var gg = (z.PropostaSingoliSsd.Cfu * 15) / 8;} @UtilsController.CalculateDays(gg)</span>

                                                                    </div>

                                                                </div>

                                                                <div class="kt-widget__item">
                                                                    <div class="kt-widget__icon">
                                                                        <i class="flaticon-pie-chart"></i>
                                                                    </div>
                                                                    <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Costo Totale</span>
                                                                        <span class="kt-widget__value"><span>€</span>@z.PropostaSingoliSsd.Costo</span>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget__item selectProduct" data-title="@z.PropostaSingoliSsd.GetHashCode()" data-id="Proposta@(i) @x.Classe.Nome" data-costo="@z.PropostaSingoliSsd.Costo" data-cfu="@z.PropostaSingoliSsd.Cfu" data-punti="0" data-ssd="@String.Join(", ", z.PropostaSingoliSsd.ListaSsd.Select(k => k.Ssd.ToString()).ToArray())">
                                                                    <button type="button" class="btn btn-outline-success addToCompare"><i class="fa fa-search-plus"></i> Compara</button>
                                                                </div>

                                                            </div>
                                                            <br />
                                                            <div class="kt-divider"><span></span></div>
                                                            <br />
                                                            <div class="kt-widget__top row" style="display: -webkit-box;">

                                                                <div class="kt-widget__content col-7 border-right">
                                                                    <div class="kt-widget__head">
                                                                        <div class="kt-widget__user">
                                                                            <a href="#" class="kt-widget__username">
                                                                                Riutilizzi &nbsp;
                                                                            </a>
                                                                            <button data-toggle="modal" data-target="#exampleModalCenter@(i)" style="padding: 0; border: none; background: none;"><span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Dettagli</span></button>
                                                                        </div>

                                                                    </div>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModalCenter@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="exampleModalLongTitle@(i)">Riutilizzi</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <table class="table table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Classe</th>
                                                                                                <th>Costo Precedente</th>
                                                                                                <th>Costo Attuale</th>
                                                                                                <th>Cfu Precedenti</th>
                                                                                                <th>Cfu</th>
                                                                                                <th>Ssd</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var w in z.PropostaSingoliSsd.Riutilizzi)
                                                                                            {
                                                                                                <tr>
                                                                                                    <th scope="row">@w.Classe</th>
                                                                                                    <td>@w.CostoPre</td>
                                                                                                    <td>@w.Costo</td>
                                                                                                    <td>@w.CfuPre</td>
                                                                                                    <td>@w.Cfu</td>
                                                                                                    <td>
                                                                                                        <button style="padding: 0; border: none; background: none;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                                                                                data-content="@foreach (var y in w.ListaSsd)
                                                                                                                {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Ssd">
                                                                                                            <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Ssd</span>
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="kt-widget__info">
                                                                        <div class="kt-widget__desc style-1">
                                                                            @foreach (var w in z.PropostaSingoliSsd.Riutilizzi)
                                                                            {
                                                                                <h5>- <span class="kt-font-brand">@w.Classe</span> Con <del>€@w.CostoPre</del><ins> €@w.Costo</ins> in Più</h5>
                                                                            }

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-4 offset-1">
                                                                    <button type="button" class="btn btn-block btn-brand mb-1 row"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                                    <button type="button" class="btn btn-block btn-outline-brand row"><i class="fa fa-star"></i> Lista Desideri</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="kt-divider">
                                            <span></span>
                                        </div>
                                        <br />
                                    }

                                    if (z.PropostaConMasterOttima != null)
                                    {
                                        <div class="row">
                                            <div class="col-4">
                                                <h5>Master+CFU Singoli</h5>
                                                <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                        data-content="@foreach (var y in z.PropostaConMasterOttima.ListaSsd)
                                                        {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Esami Singoli">
                                                    <div class="row">
                                                        <div class="text-nowrap col-5">
                                                            @{var j2 = 0;
                                                                foreach (var y in z.PropostaConMasterOttima.ListaSsd)
                                                                {
                                                                    @y.Ssd
                                                                    <br />
                                                                    if (j2 == 2)
                                                                    {
                                                                        <h5>...</h5>
                                                                        break;
                                                                    }
                                                                    j2++;
                                                                }
                                                            }
                                                        </div>
                                                        <div class="offset-2 border-left col-5">
                                                            <div class="row">
                                                                <h5 class="w-100 text-center">37 cfu</h5>
                                                            </div>
                                                            <br />
                                                            <div class="kt-divider">
                                                                <span></span>
                                                            </div>
                                                            <br />
                                                            <div class="row mx-auto mt-auto">
                                                                <h5 class="w-100 text-center text-nowrap">@{var costoCfu1 = z.PropostaConMasterOttima.Costo - z.PropostaConMasterOttima.Master.Costo;}@costoCfu1 €</h5>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </button>
                                                <i class="fa fa-plus-square fa-lg"></i>
                                                <button type="button" class="btn btn-outline-info btn-tallest" style="border-radius: 15px;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                        data-content="@foreach (var y in z.PropostaConMasterOttima.Master.EsamiCorso)
                                                        {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.NCrediti</h6>}" data-original-title="@z.PropostaConMasterOttima.Master.NomeEsteso">
                                                    <div class="row">
                                                        <h5 class="text-center w-100">Master eCampus</h5>
                                                    </div>
                                                    <div class="row">
                                                        <div class="text-nowrap col-5">
                                                            @{var j3 = 0;
                                                                foreach (var y in z.PropostaConMasterOttima.Master.EsamiCorso)
                                                                {
                                                                    @y.Ssd
                                                                    <br />
                                                                    if (j3 == 2)
                                                                    {
                                                                        <h5>...</h5>
                                                                        break;
                                                                    }
                                                                    j3++;
                                                                }
                                                            }
                                                        </div>
                                                        <div class="offset-2 border-left col-5">
                                                            <div class="row">
                                                                <h5 class="w-100 text-center">37 cfu</h5>
                                                            </div>
                                                            <br />
                                                            <div class="kt-divider">
                                                                <span></span>
                                                            </div>
                                                            <br />
                                                            <div class="row mx-auto mt-auto">
                                                                <h5 class="w-100 text-center text-nowrap">@z.PropostaConMasterOttima.Master.Costo €</h5>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </button>
                                            </div>
                                            <div class="col-8">
                                                <div class="kt-portlet">
                                                    <div class="kt-portlet__body">
                                                        <div class="kt-widget kt-widget--user-profile-3">
                                                            <div class="kt-widget__bottom" style="border-top: 0;margin-top: 0;">
                                                                <div class="kt-widget__item">
                                                                    <div class="kt-widget__icon">
                                                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                                    </div>
                                                                    <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Tempo Minimo</span>
                                                                        <span class="kt-widget__value"><span></span>@{var gg = (z.PropostaConMasterOttima.CfuSingoliSsd * 15) / 8 + 365;} @UtilsController.CalculateDays(gg)</span>

                                                                    </div>

                                                                </div>

                                                                <div class="kt-widget__item">
                                                                    <div class="kt-widget__icon">
                                                                        <i class="flaticon-pie-chart"></i>
                                                                    </div>
                                                                    <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Costo Totale</span>
                                                                        <span class="kt-widget__value"><span>€</span>@z.PropostaConMasterOttima.Costo</span>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget__item selectProduct" data-title="@z.PropostaConMasterOttima.GetHashCode()" data-id="Proposta@(i)Master @x.Classe.Nome" data-costo="@z.PropostaConMasterOttima.Costo" data-cfu="@z.PropostaConMasterOttima.CfuSingoliSsd" data-punti="@z.PropostaConMasterOttima.Master.PuntiConcorso" data-ssd="@String.Join(", ", z.PropostaConMasterOttima.ListaSsd.Select(k => k.Ssd.ToString()).ToArray())">
                                                                    <button type="button" class="btn btn-outline-success addToCompare"><i class="fa fa-search-plus"></i> Compara</button>
                                                                </div>

                                                            </div>
                                                            <br />
                                                            <div class="kt-divider"><span></span></div>
                                                            <br />
                                                            <div class="kt-widget__top row" style="display: -webkit-box;">

                                                                <div class="kt-widget__content col-7 border-right">
                                                                    <div class="kt-widget__head">
                                                                        <div class="kt-widget__user">
                                                                            <a href="#" class="kt-widget__username">
                                                                                Riutilizzi &nbsp;
                                                                            </a>
                                                                            <button data-toggle="modal" data-target="#exampleModalCenter@(i)" style="padding: 0; border: none; background: none;"><span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Dettagli</span></button>
                                                                        </div>

                                                                    </div>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModalCenter@(i)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title" id="exampleModalLongTitle@(i)">Riutilizzi</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                    </button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <table class="table table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Classe</th>
                                                                                                <th>Costo Precedente</th>
                                                                                                <th>Costo Attuale</th>
                                                                                                <th>Cfu Precedenti</th>
                                                                                                <th>Cfu</th>
                                                                                                <th>Ssd</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            @foreach (var w in z.PropostaConMasterOttima.Riutilizzi)
                                                                                            {
                                                                                                <tr>
                                                                                                    <th scope="row">@w.Classe</th>
                                                                                                    <td>@w.CostoPre</td>
                                                                                                    <td>@w.Costo</td>
                                                                                                    <td>@w.CfuPre</td>
                                                                                                    <td>@w.Cfu</td>
                                                                                                    <td>
                                                                                                        <button style="padding: 0; border: none; background: none;" data-toggle="kt-popover" data-trigger="focus" title="" data-html="true"
                                                                                                                data-content="@foreach (var y in w.ListaSsd)
                                                                                                                {
                                                                                        <h6>Ssd: @y.Ssd Cfu: @y.Cfu</h6>}" data-original-title="Ssd">
                                                                                                            <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--unified-brand">Ssd</span>
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="kt-widget__info">
                                                                        <div class="kt-widget__desc style-1">
                                                                            @foreach (var w in z.PropostaConMasterOttima.Riutilizzi)
                                                                            {
                                                                                <h5>- <span class="kt-font-brand">@w.Classe</span> Con <del>€@w.CostoPre</del><ins> €@w.Costo</ins> in Più</h5>
                                                                            }

                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-4 offset-1">
                                                                    <button type="button" class="btn btn-block btn-brand mb-1 row"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                                    <button type="button" class="btn btn-block btn-outline-brand row"><i class="fa fa-star"></i> Lista Desideri</button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                    <br />
                                    <div class="kt-divider">
                                        <span></span>
                                    </div>
                                    <br />
                                    i++;
                                }
                            }
                        </div>
                    </div>
                </div>
                <!--end:: Altre Proposte-->
            </div>
        </div>
    </div>
</div>
