@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using inRuolo.Models
@{
    var Titoli = (TitoloUtente[])ViewData["Titoli"];
    var ClassiDiConcorso = (ClasseConcorso[])ViewData["ClassiDiConcorsoAcquisite"];
    var Complementari = (Complementare[])ViewData["Complementari"];
    var Acquisibili = (SoluzioneClasse[])ViewData["ClassiDiConcorsoAcquisibili"];
    var Prezzo = (List<SoluzioneClasse>)ViewData["Prezzo"];
    var Cfu = (List<SoluzioneClasse>)ViewData["Cfu"];
    var Popolarita = (List<SoluzioneClasse>)ViewData["Popolarita"];
}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Panoramica
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>

        </div>
    </div>

    <!-- end:: Subheader -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <h3 class="display-4 text-center">Migliora La tua Formazione!</h3>
                <div class="kt-divider"><span></span></div>
                <br />
                <div class="kt-portlet" data-ktportlet="true" id="kt_portlet_tools_5">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success" style=" margin: 0 0 10px 0;" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#kt_portlet_base_demo_1_1_tab_content" role="tab">
                                        <i class="la la-cog"></i> Titoli
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#kt_portlet_base_demo_1_2_tab_content" role="tab">
                                        <i class="la la-briefcase"></i> Complementari
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-default btn-pill btn-icon-md" aria-describedby="tooltip_lgrg9cug03"><i class="la la-angle-down"></i></a>
                                @*<a href="#" data-ktportlet-tool="reload" class="btn btn-sm btn-icon btn-default btn-pill  btn-icon-md" aria-describedby="tooltip_f6afed90yk"><i class="la la-refresh"></i></a>
                                    <a href="#" data-ktportlet-tool="remove" class="btn btn-sm btn-icon btn-default btn-pill  btn-icon-md"><i class="la la-close"></i></a>*@
                                <div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_f6afed90yk" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(708px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 31px;"></div>                            <div class="tooltip-inner">Collapse</div>                        </div><div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_lgrg9cug03" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(674px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 31px;"></div>                            <div class="tooltip-inner">Collapse</div>                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__body" kt-hidden-height="202" style="">
                        <div class="tab-content">
                            <div class="tab-pane active" id="kt_portlet_base_demo_1_1_tab_content" role="tabpanel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Voto</th>
                                            <th>Luogo</th>
                                            <th>Data Conseguimento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var row = 1; }
                                        @foreach (var x in Titoli)
                                        {
                                            <tr>
                                                <th scope="row">@row</th>
                                                <td>@x.Nome</td>
                                                <td>@x.Voto</td>
                                                <td>@x.Luogo</td>
                                                <td>@x.Data</td>
                                            </tr>
                                            row++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="kt_portlet_base_demo_1_2_tab_content" role="tabpanel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Tipo</th>
                                            <th>Luogo</th>
                                            <th>Data Conseguimento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{row = 1; }
                                        @foreach (var x in Complementari)
                                        {
                                            <tr>
                                                <th scope="row">@row</th>
                                                <td>@x.Nome</td>
                                                <td>@x.StrTipo</td>
                                                <td>@x.Luogo</td>
                                                <td>@x.Data</td>
                                            </tr>
                                            row++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_tabs_5_1">Classi Di Concorso</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_2">Punteggio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_tabs_5_3">Potenzialità</a>
                        </li>

                    </ul>

                    <div class="kt-portlet__body">

                        <div class="tab-content">
                            <div class="tab-pane active" id="kt_tabs_5_1" role="tabpanel">

                                <!--Begin:: Classi Di Concorso Table-->
                                <h3 class="">
                                    Conseguite
                                </h3>
                                <div class="kt-portlet kt-portlet--collapse" data-ktportlet="true" id="kt_portlet_tools_4">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                Classi Di Concorso Conseguite
                                            </h3>
                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <div class="kt-portlet__head-group">
                                                <a href="#" data-ktportlet-tool="toggle" class="btn btn-sm btn-icon btn-brand btn-icon-md" aria-describedby="tooltip_55g8c6yi09"><i class="la la-angle-down"></i></a>
                                                <div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_55g8c6yi09" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(365px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 30px;"></div>                            <div class="tooltip-inner">Expand</div>                        </div><div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_3d5x4ywgfs" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(435px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 32px;"></div>                            <div class="tooltip-inner">Remove</div>                        </div><div class="tooltip tooltip-portlet tooltip bs-tooltip-top" role="tooltip" id="tooltip_tt1io7s18t" aria-hidden="true" x-placement="top" style="position: absolute; will-change: transform; visibility: hidden; top: 0px; left: 0px; transform: translate3d(402px, -39px, 0px);">                            <div class="tooltip-arrow arrow" style="left: 29px;"></div>                            <div class="tooltip-inner">Reload</div>                        </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body" kt-hidden-height="100" style="display: none; overflow: hidden; padding-top: 0px; padding-bottom: 0px;">

                                        <div class="kt-widget6">
                                            <div class="kt-widget6__head">
                                                @if (ClassiDiConcorso != null)
                                                {
                                                    <div class="kt-widget6__item">
                                                        <span>Codice</span>

                                                        <span>Nome</span>

                                                        <span>Popolarità </span>

                                                    </div>
                                                }
                                            </div>

                                            <div class="kt-widget6__body">
                                                @if (ClassiDiConcorso != null)
                                                {
                                                    foreach (var x in ClassiDiConcorso)
                                                    {
                                                        <div class="kt-widget6__item">
                                                            <span class="kt-font-success kt-font-bold"><h4>@x.Nome</h4></span>
                                                            <span><h5> @x.Descrizione</h5></span>
                                                            <span><h5> @x.Popolarita %</h5></span>
                                                        </div>
                                                    }
                                                }
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="kt-separator kt-separator--space kt-separator--dashed"></div>
                                <h3 class="">
                                    Conseguibili
                                </h3>
                                <div class="kt-separator kt-separator--space kt-separator--dashed"></div>
                                <!--Begin:: Conseguibili-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                I Nostri Consigli
                                            </h3>
                                        </div>
                                        <div class="kt-portlet__head-toolbar">
                                            <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#kt_widget5_tab1_content" role="tab">
                                                        Più Economici
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab2_content" role="tab">
                                                        Più Brevi
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#kt_widget5_tab3_content" role="tab">
                                                        Più Richiesti
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="kt_widget5_tab1_content" aria-expanded="true">
                                                <div class="kt-widget5">
                                                    @{ foreach (var x in Prezzo)
                                                        {
                                                            <div class="kt-widget5__item">
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__pic">
                                                                        <img class="kt-widget7__img" src="./assets/media//products/product27.jpg" alt="">
                                                                    </div>
                                                                    <div class="kt-widget5__section">
                                                                        <a href="#" class="kt-widget5__title">
                                                                            @x.Classe.Nome @x.Classe.Descrizione
                                                                        </a>
                                                                        <p class="kt-widget5__desc">
                                                                            @x.Proposte[0].PropostaConMasterOttima.Master.Nome
                                                                        </p>
                                                                        <div class="kt-widget5__info">
                                                                            <span>Costo:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.Costo €</span>
                                                                            <span>Cfu Corsi Singoli:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.CfuSingoliSsd</span>
                                                                            <span>Popolarità:</span>
                                                                            <span class="kt-font-info">@x.Classe.Popolarita %</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                                        @*<span class="kt-widget5__number">19,200</span>
                                                                            <span class="kt-widget5__sales">sales</span>*@
                                                                    </div>
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-outline-brand btn-lg"><i class="fa fa-star"></i> Lista Desideri</button>
                                                                        @*<span class="kt-widget5__number">1046</span>
                                                                            <span class="kt-widget5__votes">votes</span>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        } }
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="kt_widget5_tab2_content">
                                                <div class="kt-widget5">
                                                    @{ foreach (var x in Cfu)
                                                        {
                                                            <div class="kt-widget5__item">
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__pic">
                                                                        <img class="kt-widget7__img" src="./assets/media//products/product27.jpg" alt="">
                                                                    </div>
                                                                    <div class="kt-widget5__section">
                                                                        <a href="#" class="kt-widget5__title">
                                                                            @x.Classe.Nome @x.Classe.Descrizione
                                                                        </a>
                                                                        <p class="kt-widget5__desc">
                                                                            @x.Proposte[0].PropostaConMasterOttima.Master.Nome
                                                                        </p>
                                                                        <div class="kt-widget5__info">
                                                                            <span>Costo:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.Costo €</span>
                                                                            <span>Cfu Corsi Singoli:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.CfuSingoliSsd</span>
                                                                            <span>Popolarità:</span>
                                                                            <span class="kt-font-info">@x.Classe.Popolarita %</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                                        @*<span class="kt-widget5__number">19,200</span>
                                                                            <span class="kt-widget5__sales">sales</span>*@
                                                                    </div>
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-outline-brand btn-lg"><i class="fa fa-star"></i> Lista Desideri</button>
                                                                        @*<span class="kt-widget5__number">1046</span>
                                                                            <span class="kt-widget5__votes">votes</span>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        } }
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="kt_widget5_tab3_content">
                                                <div class="kt-widget5">
                                                    @{ foreach (var x in Popolarita)
                                                        {
                                                             

                                                            <div class="kt-widget5__item">
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__pic">
                                                                        <img class="kt-widget7__img" src="./assets/media//products/product27.jpg" alt="">
                                                                    </div>
                                                                    <div class="kt-widget5__section">
                                                                        <a href="#" class="kt-widget5__title">
                                                                            @x.Classe.Nome @x.Classe.Descrizione
                                                                        </a>
                                                                        <p class="kt-widget5__desc">
                                                                            @x.Proposte[0].PropostaConMasterOttima.Master.Nome
                                                                        </p>
                                                                        <div class="kt-widget5__info">
                                                                            <span>Costo:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.Costo €</span>
                                                                            <span>Cfu Corsi Singoli:</span>
                                                                            <span class="kt-font-info">@x.Proposte[0].PropostaConMasterOttima.CfuSingoliSsd</span>
                                                                            <span>Popolarità:</span>
                                                                            <span class="kt-font-info">@x.Classe.Popolarita %</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="kt-widget5__content">
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</button>
                                                                        @*<span class="kt-widget5__number">19,200</span>
                                                                            <span class="kt-widget5__sales">sales</span>*@
                                                                    </div>
                                                                    <div class="kt-widget5__stats">
                                                                        <button type="button" class="btn btn-outline-brand btn-lg"><i class="fa fa-star"></i> Lista Desideri</button>
                                                                        @*<span class="kt-widget5__number">1046</span>
                                                                            <span class="kt-widget5__votes">votes</span>*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        } }
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                @*<button type="button" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</button>*@
                                                <button type="button" class="btn btn-outline-brand btn-lg"><i class="fa fa-th-list"></i>Ulteriori Informazioni</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end:: Conseguibili-->
                            </div>
                            <!--End:: Classi Di Concorso Table-->
                            <div class="tab-pane" id="kt_tabs_5_2" role="tabpanel">
                                <!--Start:: Punteggio-->
                                <div class="row">
                                    <div class="col-6">
                                        <h3 class="">
                                            Il Tuo Punteggio
                                        </h3>
                                        <i class="flaticon2-poll-symbol" style="height: 1rem; font-size: 3.75em;"><h3 class="kt-font-info d-inline-block align-middle">&nbsp;19 Punti</h3></i>
                                    </div>
                                    <div class="col-6">
                                        <h3 class="">
                                            Periodo Di Servizio
                                        </h3>
                                        <i class="flaticon-time-1" style="height: 1rem; font-size: 3.75em;"><h3 class="kt-font-info d-inline-block align-middle">&nbsp;2 Anni</h3></i>
                                    </div>
                                </div>
                                <br />
                                <div class="kt-divider"><span></span></div>
                                <br />
                                <table class="table table-bordered table-hover" style="font-size: 110%;">
                                    <tbody>
                                        <tr class="w-25">
                                            <th scope="row">10 Punti</th>
                                            <td>Anno Servizio 2015-2016</td>

                                        </tr>
                                        <tr class="w-25">
                                            <th scope="row">5 Punti</th>
                                            <td>Anno Servizio 2016-2017</td>

                                        </tr>
                                        <tr class="w-25">
                                            <th scope="row">2 Punti</th>
                                            <td>Corso EiPass:LIM</td>

                                        </tr>
                                        <tr class="w-25">
                                            <th scope="row">2 Punti</th>
                                            <td>Corso EiPass:Tablet</td>

                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <div class="kt-divider"><span></span></div>
                                <br />
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__head">
                                        <div class="kt-portlet__head-label">
                                            <h3 class="kt-portlet__head-title">
                                                Se Vuoi Migliorare
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="kt_widget31_tab1_content">
                                                <div class="kt-widget31">
                                                    <div class="kt-widget31__item">
                                                        <div class="kt-widget31__content">
                                                            <div class="kt-widget31__pic">
                                                                <img src="~/Content/media/logos/Nss.png" alt="">
                                                            </div>
                                                            <div class="kt-widget31__info">
                                                                <a href="#" class="kt-widget31__username">
                                                                    Corso Di Dattilografia Online
                                                                </a>
                                                                <p class="kt-widget31__text">
                                                                    notiziesullascuola.it
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget31__content">
                                                            <div class="kt-widget31__progress">
                                                                <h3>2 Punti</h3>
                                                            </div>
                                                            <a href="#" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="kt-divider"><span></span></div>
                                                <br />
                                                <div class="kt-widget31">
                                                    <div class="kt-widget31__item">
                                                        <div class="kt-widget31__content">
                                                            <div class="kt-widget31__pic">
                                                                <img src="~/Content/media/logos/Nss.png" alt="">
                                                            </div>
                                                            <div class="kt-widget31__info">
                                                                <a href="#" class="kt-widget31__username">
                                                                    Corso Tablet
                                                                </a>
                                                                <p class="kt-widget31__text">
                                                                    notiziesullascuola.it
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="kt-widget31__content">
                                                            <div class="kt-widget31__progress">
                                                                <h3>6 Punti</h3>
                                                            </div>
                                                            <a href="#" class="btn btn-brand mr-3 btn-lg"><i class="fa fa-cart-plus"></i> Acquista</a>
                                                        </div>
                                                    </div>




                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="kt_tabs_5_3" role="tabpanel">
                                <!--begin::Portlet-->
                                <div class="kt-portlet kt-portlet--height-fluid">
                                    <div class="kt-portlet__body">
                                        <div class="kt-widget kt-widget--user-profile-3">
                                            <div class="kt-widget__top">
                                                <div class="kt-widget__media kt-hidden-">
                                                    <img src="./assets/media/users/100_1.jpg" alt="image">
                                                </div>
                                                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                                    JM
                                                </div>
                                                <div class="kt-widget__content">
                                                    <div class="kt-widget__head">
                                                        <a href="#" class="kt-widget__username">
                                                            Jason Muller
                                                            <i class="flaticon2-correct"></i>
                                                        </a>
                                                        <div class="kt-widget__action">
                                                            <button type="button" class="btn btn-label-success btn-sm btn-upper">ask</button>&nbsp;
                                                            <button type="button" class="btn btn-brand btn-sm btn-upper">hire</button>
                                                        </div>
                                                    </div>
                                                    <div class="kt-widget__subhead">
                                                        <a href="#"><i class="flaticon2-new-email"></i>jason@siastudio.com</a>
                                                        <a href="#"><i class="flaticon2-calendar-3"></i>PR Manager </a>
                                                        <a href="#"><i class="flaticon2-placeholder"></i>Melbourne</a>
                                                    </div>
                                                    <div class="kt-widget__info">
                                                        <div class="kt-widget__desc">
                                                            I distinguish three main text objektive could be merely to inform people.
                                                            <br> A second could be persuade people.You want people to bay objective
                                                        </div>
                                                        <div class="kt-widget__progress">
                                                            <div class="kt-widget__text">
                                                                Progress
                                                            </div>
                                                            <div class="progress" style="height: 5px;width: 100%;">
                                                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="kt-widget__stats">
                                                                78%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-widget__bottom">
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-piggy-bank"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <span class="kt-widget__title">Earnings</span>
                                                        <span class="kt-widget__value"><span>$</span>249,500</span>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-confetti"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <span class="kt-widget__title">Expances</span>
                                                        <span class="kt-widget__value"><span>$</span>164,700</span>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-pie-chart"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <span class="kt-widget__title">Net</span>
                                                        <span class="kt-widget__value"><span>$</span>164,700</span>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-file-2"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <span class="kt-widget__title">73 Tasks</span>
                                                        <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-chat-1"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <span class="kt-widget__title">648 Comments</span>
                                                        <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                                    </div>
                                                </div>
                                                <div class="kt-widget__item">
                                                    <div class="kt-widget__icon">
                                                        <i class="flaticon-network"></i>
                                                    </div>
                                                    <div class="kt-widget__details">
                                                        <div class="kt-section__content kt-section__content--solid">
                                                            <div class="kt-badge kt-badge__pics">
                                                                <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                                                                    <img src="./assets/media/users/100_7.jpg" alt="image">
                                                                </a>
                                                                <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                                                                    <img src="./assets/media/users/100_3.jpg" alt="image">
                                                                </a>
                                                                <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                                                                    <img src="./assets/media/users/100_2.jpg" alt="image">
                                                                </a>
                                                                <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                                                                    <img src="./assets/media/users/100_13.jpg" alt="image">
                                                                </a>
                                                                <a href="#" class="kt-badge__pic" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                                                                    <img src="./assets/media/users/100_4.jpg" alt="image">
                                                                </a>
                                                                <a href="#" class="kt-badge__pic kt-badge__pic--last kt-font-brand">
                                                                    +7
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--end::Portlet-->

                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <!--End:: App Content-->
        </div>

        <!--End::App-->
    </div>
    <!-- end:: Content -->
</div>

